body
{
    color:var(--f_high);
    font-family: 'input_mono_medium', monospace;
    padding: 19px;
    overflow: hidden;
}

.invisibleSpace
{
    color: var(--background);
}

.progressed
{
	color: var(--f_low);
}

.progressHead
{
	color: var(--f_med);
}

.unprogressed
{
	color: var(--b_low);
}